{% extends "base.html" %}
{% block page_content %}
    <div class="row">
    <div class="col-md-5 table-bordered">
        <div class="text-center text-success"><i class="glyphicon glyphicon-pencil"></i>个人信息维护</div>
        <a href="{{ url_for('auth.change_password') }}" class="btn btn-primary">修改密码</a><p></p>
        <a href="{{ url_for('manage.confirm') }}" class="btn btn-primary">绑定手机/邮箱</a><p></p>
        <a href="{{ url_for('manage.confirm') }}" class="btn btn-primary">修改名称</a><p></p>
    </div>
    <div class="col-md-4 table-bordered">
        <div class="text-center text-success"><i class="glyphicon glyphicon-credit-card"></i>费用信息</div>
        <div class="row"><div class="label label-info pull-right">{{ current_user.get_balance() }}</div>当前余额：</div>
        <div class="row">
            <a class="btn btn-success" href="{{ url_for("manage.charge") }}">充值</a>
            <a class="btn btn-info" href="{{ url_for("manage.view_billings") }}">查看订单</a>
        </div>
    </div>
    </div>
    <div class="row">


    </div>

{% endblock %}